<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || data.site.title %></title>

    <meta name="description" content="<%= current_page.data.title || data.site.title %>">
    <meta name="keywords" content="<%= data.site.keywords %>">
    <meta name="author" content="@wansaleh">

    <link rel="shortcut icon" href="<%= imgurl("favicon.png") %>">

    <script>
      paceOptions = { elements: { selectors: ['img'] } };
    </script>
    <script src="//cdn.jsdelivr.net/pace/0.5.7/pace.min.js"></script>
    <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>

    <link href="/assets/css/pace.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %> lang_<%= t(:lang) %>">

    <!-- Preloader -->
    <div class="preloader">
      <img src="<%= imgurl("loading-cylon.svg") %>">
    </div>
    <!-- Background Pattern -->
    <div class="bg-pattern bg-pattern-vertical"></div>
    <!-- Video BG -->
    <!-- <div class="back-vide" data-vide-bg="/assets/img/mhp/video"></div> -->

<%= yield %>

    <script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.2/wow.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.4.4/js/foundation/foundation.js"></script>
    <script src="//cdn.jsdelivr.net/foundation/5.4.4/js/foundation/foundation.tooltip.js"></script>
    <script>var imgurl = "<%= data.site.imgurl %>";</script>
    <script src="/assets/js/main.js"></script>

  </body>
</html>
