<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || data.site.title %></title>

    <meta name="description" content="<%= current_page.data.title || data.site.title %>">
    <meta name="keywords" content="<%= data.site.keywords %>">
    <meta name="author" content="@wansaleh">

    <link rel="shortcut icon" href="<%= imgurl("favicon.png") %>">

    <script>
      paceOptions = { elements: { selectors: ['img'] } };
      imgurl = "<%= data.site.imgurl %>";
    </script>
    <script src="/assets/js/vendor.head.js"></script>

    <link href="/assets/css/site.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %> lang_<%= I18n.locale %>">

    <!-- Preloader -->
    <div class="preloader"><img src="<%= imgurl("preloader.gif") %>"></div>
    <!-- Background -->
    <div class="bg-pattern bg-pattern-diag"></div>
    <!-- Video BG -->
    <!-- <div class="back-vide" data-vide-bg="/assets/img/mhp/video"></div> -->

<%= yield %>

    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/site.js"></script>

  </body>
</html>
