    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Background Pattern -->
    <div class="bg-pattern bg-pattern-diag"></div>
    <!-- Backstretch Carousel -->
    <div class="backstretch-carousel"></div>

    <div class="small-logo">
      <a href="#top" class="logo gototop"><img alt="logo" src="/assets/img/mhp/logo_white_small.png"></a>
      <nav>
        <a href="/" class="lang_ms"><i class="fa fa-flag"></i> Malay</a>
        <a href="/en" class="lang_en"><i class="fa fa-flag"></i> English</a>
      </nav>
    </div>

    <!-- ******************** MASTHEAD SECTION ******************** -->
    <main class="masthead screen" id="top" role="main">
      <div class="container">

        <div class="masthead-logo">
          <a href="#"><img alt="logo" src="/assets/img/mhp/logo_white.png"></a>
        </div>

        <h1>
          <%= t(:allah) %>
        </h1>

        <a class="scrollto" href="#explore">
          <p><%= t(:scroll) %></p>
          <p class="scrollto--arrow"><img alt="scroll down arrow" src="/assets/img/scroll_down.png">
        </p></a>

      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <!-- ******************** HERO SECTION ******************** -->
    <main class="hero screen" id="explore">
      <div class="container">
        <div class="section-title">
          <i class="fa fa-send wow fadeInDownBig showdelay2"></i>
          <h2 class="wow flipInX showdelay3"><%= t(:passion) %></h2>
          <h4 class="wow fadeInDown showdelay4"><%= t(:passion_sub) %></h4>
        </div>
      </div>
    </main>

    <!-- ******************** MASTERPIECE SECTION ******************** -->
    <main class="masterpiece screen">
      <div class="container">
        <div class="section-title">
          <!-- <i class="fa fa-microphone wow bounceInLeft showdelay3"></i> -->
          <h1 class="wow bounceInLeft showdelay5"><%= t(:masterpiece) %></h1>
        </div>
      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <!-- ******************** TEAM SECTION ******************** -->
    <main class="team screen" id="team">
      <div class="container">
        <div class="section-title">
          <h2 class="wow bounceInLeft showdelay3"><%= t(:family) %></h2>
          <h4 class="wow bounceInRight showdelay5"><%= t(:family_sub) %></h4>
        </div>

        <section class="row">
          <div class="col-sm-6 col-md-3">
            <div class="teamblock wow fadeInLeft showdelay4">
              <img alt="analytics-icon" src="/assets/img/mhp/bio_munif.png">

              <div class="caption">
                <h3>Munif Ahmad</h3>
                <p><%= t(:bio_munif) %></p>
              </div>
            </div>
            <!--/teamblock -->
          </div>
          <!--/col-sm-6-->

          <div class="col-sm-6 col-md-3">
            <div class="teamblock wow fadeInUp showdelay5">
              <img alt="analytics-icon" src="/assets/img/mhp/bio_amir.png">

              <div class="caption">
                <h3>Amir Arshad</h3>
                <p><%= t(:bio_amir) %></p>
              </div>
            </div>
            <!--/teamblock -->
          </div>
          <!--/col-sm-6-->

          <div class="col-sm-6 col-md-3">
            <div class="teamblock wow fadeInUp showdelay5">
              <img alt="analytics-icon" src="/assets/img/mhp/bio_wan.png">

              <div class="caption">
                <h3>Wan Saleh</h3>
                <p><%= t(:bio_wan) %></p>
              </div>
            </div>
            <!--/teamblock -->
          </div>
          <!--/col-sm-6-->

          <div class="col-sm-6 col-md-3">
            <div class="teamblock wow fadeInRight showdelay4">
              <img alt="analytics-icon" src="/assets/img/mhp/bio_taq.png">

              <div class="caption">
                <h3>Nurtaqwa Othman</h3>
                <p><%= t(:bio_taqwa) %></p>
              </div>
            </div>
            <!--/teamblock -->
          </div>
          <!--/col-sm-6-->
        </section>
        <!--/section -->
      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <!-- ******************** FOOTER ******************** -->
    <div class="container">
      <section class="row breath">
        <div class="col-md-12 footerlinks">
          <h3>&copy; 2014 <%= data.site.title %>. <%= t(:reserved) %></h3>
        </div>
      </section>
      <!--/section -->
    </div>
    <!--/container -->
