<% content_for :arrowup do %>
<svg class="arrow" viewBox="0 0 94.67 94.67" enable-background="new 0 0 94.67 94.67"><path d="M94.671,67.894l-1.338,1.486L47.335,27.982L1.337,69.38L0,67.894L47.335,25.29L94.671,67.894z"></path></svg>
<% end %>
<% content_for :arrowdown do %>
<svg class="arrow" viewBox="0 0 94.67 94.67" enable-background="new 0 0 94.67 94.67"><path d="M94.67,26.776L47.335,69.38L0,26.776l1.338-1.486l45.997,41.396l45.997-41.396L94.67,26.776z"></path></svg>
<% end %>

    <!-- ******************** SMALL TOPNAV ******************** -->
    <header class="small-logo" role="header">
      <a href="#top" class="logo gototop"><img alt="logo" src="<%= imgurl("logo_white_small.png") %>"></a>
      <nav>
        <a href="/" class="lang_ms"><i class="fa fa-flag"></i> Malay</a>
        <a href="/en" class="lang_en"><i class="fa fa-flag"></i> English</a>
      </nav>
    </header>

    <!-- ******************** MASTHEAD SECTION ******************** -->
    <main class="masthead screen" id="top" role="main" data-scroll-index="0">
      <div class="container">
        <div class="row">
          <div class="large-12 columns">
            <div class="salam">
              <img src="<%= imgurl("salam.svg") %>" alt="">
            </div>

            <div class="masthead-logo">
              <a href="#"><img alt="logo" src="<%= imgurl("logo_white.png") %>"></a>
            </div>

            <h1><%= t(:allah) %></h1>

            <div class="store breath">
              <a href="//www.mhpro.com.my/" class="button" target="_blank">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;<%= t(:store) %></a>
            </div>

            <div class="social breath">
              <a href="http://facebook.com/minufhijjazproduction"><img src="<%= imgurl("social/facebook-a.svg") %>" alt=""></a>
              <a href="http://twitter.com/MunifHijjazPro"><img src="<%= imgurl("social/twitter1-a.svg") %>" alt=""></a>
              <a href="http://instagram.com/munifhijjazpro"><img src="<%= imgurl("social/youtube-a.svg") %>" alt=""></a>
              <a href="http://www.youtube.com/channel/UCJFnl-ePHMYSTrMf45HX6wg"><img src="<%= imgurl("social/instagram-a.svg") %>" alt=""></a>
            </div>

            <a class="scrollto" href="#explore">
              <p class="scrollto-arrow"><%= yield_content :arrowdown %></p>
            </a>
          </div>
        </div>
      </div>
    </main>

    <!-- ******************** HERO SECTION ******************** -->
    <section class="hero screen breath" id="explore" data-scroll-index="1">
      <div class="container">
        <div class="row">
          <div class="small-12 columns">
            <div class="section-title">
              <!-- <i class="fa fa-send wow fade-in-down" data-wow-delay="0.2s"></i> -->

              <h2 class="wow fade-in-right" data-wow-delay="0.3s"><%= t(:passion) %></h2>
              <p class="lead wow fade-in-right" data-wow-delay="0.4s"><%= t(:passion_sub) %></p>
            </div>

            <p class="lyrics wow fade-in-right" data-wow-delay="0.5s">
              Dalam diri selembut sutera<br>
              Kau miliki <strong>iman yang teguh</strong><br>
              Kau nyalakan obor agama dirimu bak lentera<br>
              dibelengu jahiliah kau tempuh dengan berani<br>
              Walau pun jasadmu milik tuan<br>
              Tetapi <strong>hatimu milik Tuhan</strong>
            </p>
            <p class="cite wow fade-in-right" data-wow-delay="0.8s">
              Munif Ahmad &amp; ITO Lara, &lsquo;04
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ******************** MASTERPIECE SECTION ******************** -->
    <section class="masterpiece screen breath" data-scroll-index="2">
      <div class="container">
        <div class="row">
          <div class="small-12 columns">
            <div class="section-title">
              <i class="fa fa-quote-left wow fade-in-left" data-wow-delay="0.6s"></i>
              <h1 class="wow fade-in-left" data-wow-delay="0.3s"><%= t(:masterpiece) %></h1>
            </div>

            <!-- <div class="flex-video widescreen">
              <iframe width="854" height="510" src="//www.youtube.com/embed/5kYqnYlZ1a8" frameborder="0" allowfullscreen></iframe>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <!-- ******************** TEAM SECTION ******************** -->
    <section class="team screen breath" id="team" data-scroll-index="3">
      <div class="container">
        <div class="row">
          <div class="small-12 columns">
            <div class="section-title">
              <!-- <i class="fa fa-cogs wow fade-in-down" data-wow-delay="0.2s"></i> -->

              <h2 class="wow fade-in-left" data-wow-delay="0.3s"><%= t(:family) %></h2>
              <p class="lead wow fade-in-right" data-wow-delay="0.5s"><%= t(:family_sub) %></p>
            </div>

            <section class="row">
              <div class="small-12 medium-6 large-3 columns">
                <div class="teamblock wow fade-in-left" data-wow-delay="0.3s">
                  <img alt="analytics-icon" src="<%= imgurl("bio_munif.png") %>">

                  <div class="caption">
                    <h3>Munif Ahmad</h3>
                    <p><%= t(:bio_munif) %></p>
                  </div>
                </div>
              </div>

              <div class="small-12 medium-6 large-3 columns">
                <div class="teamblock wow fade-in-up" data-wow-delay="0.4s">
                  <img alt="analytics-icon" src="<%= imgurl("bio_amir.png") %>">

                  <div class="caption">
                    <h3>Amir Arshad</h3>
                    <p><%= t(:bio_amir) %></p>
                  </div>
                </div>
              </div>

              <div class="small-12 medium-6 large-3 columns">
                <div class="teamblock wow fade-in-up" data-wow-delay="0.5s">
                  <img alt="analytics-icon" src="<%= imgurl("bio_wan.png") %>">

                  <div class="caption">
                    <h3>Wan Saleh</h3>
                    <p><%= t(:bio_wan) %></p>
                  </div>
                </div>
              </div>

              <div class="small-12 medium-6 large-3 columns">
                <div class="teamblock wow fade-in-right" data-wow-delay="0.6s">
                  <img alt="analytics-icon" src="<%= imgurl("bio_taq.png") %>">

                  <div class="caption">
                    <h3>Nurtaqwa Othman</h3>
                    <p><%= t(:bio_taqwa) %></p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>

    <!-- ******************** GMAPS ******************** -->
    <section class="gmaps hide-for-small-only" id="maps" data-scroll-index="4">
      <div id="gmap"></div>
    </section>

    <!-- ******************** FOOTER ******************** -->
    <footer class="container" data-scroll-index="5">
      <div class="row">
        <div class="large-12 columns text-center">

          <h1><%= t(:footer1) %></h1>
          <h2 class="subheader"><%= t(:footer2) %></h2>

          <div class="social">
            <a href="http://facebook.com/minufhijjazproduction"><img src="<%= imgurl("social/facebook-a.svg") %>" alt=""></a>
            <a href="http://twitter.com/MunifHijjazPro"><img src="<%= imgurl("social/twitter1-a.svg") %>" alt=""></a>
            <a href="http://instagram.com/munifhijjazpro"><img src="<%= imgurl("social/youtube-a.svg") %>" alt=""></a>
            <a href="http://www.youtube.com/channel/UCJFnl-ePHMYSTrMf45HX6wg"><img src="<%= imgurl("social/instagram-a.svg") %>" alt=""></a>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="medium-6 large-6 columns footer-address text-left small-only-text-center">
          <p>
            <%= t(:footer_address) %>
          </p>
        </div>
        <div class="medium-6 large-6 columns footer-links text-right small-only-text-center">
          <h3>&copy; 2014 <%= t(:reserved) %></h3>
          <h4><%= t(:footer_by) %> <%= data.site.title %></h4>
        </div>
      </div>
    </footer>
