    <div class="preloader"></div>

    <!-- ******************** MASTHEAD SECTION ******************** -->
    <main class="masthead" id="top" role="main">
      <div class="container">

        <div class="logo">
          <a href="#"><img alt="logo" src="/assets/img/mhp/logo_white.png"></a>
        </div>

        <h1>
          <%= t(:allah) %>
        </h1>
    <!--
        <div class="row">
          <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe">
            <form action="subscribe.php" class="form-horizontal" id="subscribeForm" method="post" name="subscribeForm">
              <div class="form-group">
                <div class="col-md-7 col-sm-6 col-sm-offset-1 col-md-offset-0">
                  <input class="form-control input-lg" data-validate="validate(required, email)" id="address" name="email" placeholder="Enter your email" required="required" type="email">
                </div>

                <div class="col-md-5 col-sm-4">
                  <button class="btn btn-success btn-lg" type="submit">GET EARLY ACCESS</button>
                </div>
              </div>
            </form>
            <span class="alertMsg" id="result"></span>
          </div>
        </div>
     -->
        <a class="scrollto" href="#explore">
          <p><%= t(:scroll) %></p>
          <p class="scrollto--arrow"><img alt="scroll down arrow" src="/assets/img/scroll_down.png">
        </p></a>

      </div>
      <!--/container -->
    </main>
    <!--/main -->


    <!-- ******************** TEAM SECTION ******************** -->
    <div class="container" id="explore">
      <div class="section-title">
        <h2><%= t(:passion) %></h2>
        <h4><%= t(:passion_sub) %></h4>
      </div>
    </div>

    <!--   <section class="row heroimg breath">
        <div class="col-md-12 text-center"><img alt="flat-mockup-template" src="/assets/img/flat-mockup-template.png">
        </div>
      </section> -->
      <!--/section -->

    <main class="footercta" role="main" data-stellar-background-ratio="0.7" data-stellar-vertical-offset="149.9">
      <div class="container wow fadeInDownBig">
        <h1><%= t(:footer) %></h1>

        <div class="row hidden">
          <div class="col-md-12 breath text-center">
            <a class="btn btn-success btn-lg gototop" href="#top">CONTACT US</a>
          </div>
        </div>
      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <div class="container" id="explore2">
      <div class="section-title">
        <h2><%= t(:family) %></h2>
        <h4><%= t(:family_sub) %></h4>
      </div>

      <section class="row team">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.3s">
            <img alt="analytics-icon" src="/assets/img/service_01.png">

            <div class="caption">
              <h3>Munif Ahmad</h3>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <!--/thumbnail -->
        </div>
        <!--/col-sm-6-->

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
            <img alt="analytics-icon" src="/assets/img/service_02.png">

            <div class="caption">
              <h3>Amir Arshad</h3>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <!--/thumbnail -->
        </div>
        <!--/col-sm-6-->

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="0.9s">
            <img alt="analytics-icon" src="/assets/img/service_03.png">

            <div class="caption">
              <h3>Wan Saleh</h3>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <!--/thumbnail -->
        </div>
        <!--/col-sm-6-->

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail wow fadeInDown" data-wow-delay="1.2s">
            <img alt="analytics-icon" src="/assets/img/service_04.png">

            <div class="caption">
              <h3>Nurtaqwa Othman</h3>

              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <!--/thumbnail -->
        </div>
        <!--/col-sm-6-->
      </section>
      <!--/section -->


      <!-- ******************** CLIENTS SECTION ******************** -->
      <div class="hidden">
        <div class="section-title">
          <h2>You.</h2>

          <h4>We work with different kinds of people.</h4>
        </div>

        <section class="row clientlogo breath">
          <div class="col-md-12 text-center"><img alt="client-logos" src="/assets/img/client-logos.png">
          </div>
        </section>
        <!--/section -->
      </div>

    </div>
    <!--/container -->

    <!-- ******************** TESTIMONIALS SECTION ******************** -->
    <div class="highlight testimonials hidden">
      <div class="container">
        <div class="section-title">
          <h2>What our customers said</h2>

          <h4>Don't take our word. See their testimonials.</h4>
        </div>

        <section class="row breath">
          <div class="col-md-6">
            <div class="testblock wow fadeInLeft" data-wow-delay="0.3s">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>

            <div class="clientblock wow fadeInRight" data-wow-delay="0.8s">
              <img alt="." src="/assets/img/customer-img-1.jpg">

              <p><strong>Erwan Taib</strong><br>
              Artiste and Founder of Madrasah Mahabbah</p>
            </div>
          </div>
          <!--/col-md-6 -->

          <div class="col-md-6">
            <div class="testblock wow fadeInLeft" data-wow-delay="0.3s">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>

            <div class="clientblock wow fadeInRight" data-wow-delay="0.8s">
              <img alt="." src="/assets/img/customer-img-2.jpg">

              <p><strong>Adib Nahar</strong><br>
              Artiste and Founder of Madrasah Mahabbah</p>
            </div>
          </div>
          <!--/col-md-6 -->
        </section>
        <!--/section -->
      </div>
      <!--/container -->
    </div>
    <!--/highlight Testimonials -->


    <!-- ******************** FOOTER ******************** -->
    <div class="container">
      <section class="row breath">
        <div class="col-md-12 footerlinks">
          <p>&copy; 2014 <%= data.site.title %>. <%= t(:reserved) %></p>
        </div>
      </section>
      <!--/section -->
    </div>
    <!--/container -->
