    <!-- Preloader -->
    <div class="preloader"></div>
    <!-- Background Pattern -->
    <div class="bg-pattern bg-pattern_vertical"></div>
    <!-- Backstretch Carousel -->
    <div class="backstretch-carousel"></div>

    <div class="small-logo">
      <a href="#top" class="gototop"><img alt="logo" src="/assets/img/mhp/logo_white_small.png"></a>
    </div>

    <!-- ******************** MASTHEAD SECTION ******************** -->
    <main class="masthead screen" id="top" role="main">
      <div class="container">

        <div class="logo">
          <a href="#"><img alt="logo" src="/assets/img/mhp/logo_white.png"></a>
        </div>

        <h1>
          <%= t(:allah) %>
        </h1>

        <a class="scrollto" href="#explore">
          <p><%= t(:scroll) %></p>
          <p class="scrollto--arrow"><img alt="scroll down arrow" src="/assets/img/scroll_down.png">
        </p></a>

      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <!-- ******************** HERO SECTION ******************** -->
    <main class="hero screen" id="explore">
      <div class="container">
        <div class="section-title">
          <h2><%= t(:passion) %></h2>
          <h4><%= t(:passion_sub) %></h4>
        </div>
      </div>
    </main>

    <main class="masterpiece screen">
      <div class="container">
        <div class="wow bounceInLeft" data-wow-delay="0.5s">
          <h2><%= t(:footer) %></h2>
        </div>
      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <!-- ******************** TEAM SECTION ******************** -->
    <main class="team screen" id="team">
      <div class="container">
        <div class="section-title">
          <h2><%= t(:family) %></h2>
          <h4><%= t(:family_sub) %></h4>
        </div>

        <section class="row team">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail wow fadeInDown" data-wow-delay="0.3s">
              <img alt="analytics-icon" src="/assets/img/service_01.png">

              <div class="caption">
                <h3>Munif Ahmad</h3>
                <p><%= t(:bio_munif) %></p>
              </div>
            </div>
            <!--/thumbnail -->
          </div>
          <!--/col-sm-6-->

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail wow fadeInDown" data-wow-delay="0.6s">
              <img alt="analytics-icon" src="/assets/img/service_02.png">

              <div class="caption">
                <h3>Amir Arshad</h3>
                <p><%= t(:bio_amir) %></p>
              </div>
            </div>
            <!--/thumbnail -->
          </div>
          <!--/col-sm-6-->

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail wow fadeInDown" data-wow-delay="0.9s">
              <img alt="analytics-icon" src="/assets/img/service_03.png">

              <div class="caption">
                <h3>Wan Saleh</h3>
                <p><%= t(:bio_wan) %></p>
              </div>
            </div>
            <!--/thumbnail -->
          </div>
          <!--/col-sm-6-->

          <div class="col-sm-6 col-md-3">
            <div class="thumbnail wow fadeInDown" data-wow-delay="1.2s">
              <img alt="analytics-icon" src="/assets/img/service_04.png">

              <div class="caption">
                <h3>Nurtaqwa Othman</h3>
                <p><%= t(:bio_taqwa) %></p>
              </div>
            </div>
            <!--/thumbnail -->
          </div>
          <!--/col-sm-6-->
        </section>
        <!--/section -->
      </div>
      <!--/container -->
    </main>
    <!--/main -->

    <!-- ******************** TESTIMONIALS SECTION ******************** -->
    <div class="highlight testimonials hidden">
      <div class="container">
        <div class="section-title">
          <h2>What our customers said</h2>

          <h4>Don't take our word. See their testimonials.</h4>
        </div>

        <section class="row breath">
          <div class="col-md-6">
            <div class="testblock wow fadeInLeft" data-wow-delay="0.3s">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>

            <div class="clientblock wow fadeInRight" data-wow-delay="0.8s">
              <img alt="." src="/assets/img/customer-img-1.jpg">

              <p><strong>Erwan Taib</strong><br>
              Artiste and Founder of Madrasah Mahabbah</p>
            </div>
          </div>
          <!--/col-md-6 -->

          <div class="col-md-6">
            <div class="testblock wow fadeInLeft" data-wow-delay="0.3s">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>

            <div class="clientblock wow fadeInRight" data-wow-delay="0.8s">
              <img alt="." src="/assets/img/customer-img-2.jpg">

              <p><strong>Adib Nahar</strong><br>
              Artiste and Founder of Madrasah Mahabbah</p>
            </div>
          </div>
          <!--/col-md-6 -->
        </section>
        <!--/section -->
      </div>
      <!--/container -->
    </div>
    <!--/highlight Testimonials -->


    <!-- ******************** FOOTER ******************** -->
    <div class="container">
      <section class="row breath">
        <div class="col-md-12 footerlinks">
          <p>&copy; 2014 <%= data.site.title %>. <%= t(:reserved) %></p>
        </div>
      </section>
      <!--/section -->
    </div>
    <!--/container -->
